h1 {
  z-index: 5;
  padding: 0 0 8px 0;
  font-size: 30px;
  color: #e6d3ea;
  opacity: 1;
  background-color: rgb(108, 162, 224);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 67%, 0 100%); 
  font-family: 'Indie Flower', cursive;
}

.titlePage {
  height: 100%;
  width: 100%;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tabs {
  width: 22%;
  height: 37%;
  position: absolute;
  top: 20%;
  right: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  
}

.tabs h1:hover {
  cursor: pointer;
  margin-right: 5%;
}

.tabs h1:nth-child(1) {
  opacity: 0;
  animation: popUp 1s forwards 5s;
}

.tabs h1:nth-child(2) {
  opacity: 0;
  animation: popUp 1s forwards 5.2s;
}

.tabs h1:nth-child(3) {
  opacity: 0;
  animation: popUp 1s forwards 5.4s;
}

.tabs h1:nth-child(4) {
  opacity: 0;
  animation: popUp 1s forwards 5.6s;
}

@keyframes popUp {
  0% {
    opacity: 1;
  }
  50% {
    transform: translateY(-7px) scale(1.01);
  }
  100% {
    opacity: 1;
  }
}

#name {
  z-index: 3;
  position: absolute;
  left: 5%;
  top: 80%;
  transform: translate(-5%, -70%);
  height: 30%;
  width: 45%;
  animation: fill 1.6s ease forwards 4s;
}

#name path:nth-child(1) {
  stroke-dasharray: 130px;
  stroke-dashoffset: 130px;
  animation: appear 1.5s linear forwards;
}

#name path:nth-child(2) {
  stroke-dasharray: 120px;
  stroke-dashoffset: 120px;
  animation: appear 1.5s linear forwards 0.2s;
}

#name path:nth-child(3) {
  stroke-dasharray: 60px;
  stroke-dashoffset: 60px;
  animation: appear 1.5s linear forwards 0.4s;
}

#name path:nth-child(4) {
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  animation: appear 1.5s linear forwards 0.6s;
}

#name path:nth-child(5) {
  stroke-dasharray: 99px;
  stroke-dashoffset: 99px;
  animation: appear 1.5s linear forwards 0.8s;
}

#name path:nth-child(6) {
  stroke-dasharray: 161px;
  stroke-dashoffset: 161px;
  animation: appear 1.5s linear forwards 1s;
}

#name path:nth-child(7) {
  stroke-dasharray: 117px;
  stroke-dashoffset: 117px;
  animation: appear 1.5s linear forwards 1.2s;
}

#name path:nth-child(8) {
  stroke-dasharray: 60px;
  stroke-dashoffset: 60px;
  animation: appear 1.5s linear forwards 1.4s;
}

#name path:nth-child(9) {
  stroke-dasharray: 72px;
  stroke-dashoffset: 72px;
  animation: appear 1.5s linear forwards 1.6s;
}

#name path:nth-child(10) {
  stroke-dasharray: 117px;
  stroke-dashoffset: 117px;
  animation: appear 1.5s linear forwards 1.8s;
}

#name path:nth-child(11) {
  stroke-dasharray: 58px;
  stroke-dashoffset: 58px;
  animation: appear 1.5s linear forwards 2s;
}

#name path:nth-child(12) {
  stroke-dasharray: 58px;
  stroke-dashoffset: 58px;
  animation: appear 1.5s linear forwards 2.2s;
}

@keyframes appear {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  to {
    fill: #e6d3ea;
    stroke-width: 0;
  }
}
