h1 {
  z-index: 2;
  font-size: 30px;
  color: white;
}

.titlePage {
  height: 100%;
  width: 100%;
}

.position {
  position: absolute;
  height: 100%;
  width: 100%;
}
/*
.earth {
    z-index: 3;
    position: absolute;
    background: transparent url(https://toppng.com/uploads/preview/ftestickers-sticker-space-stars-galaxy-nebula-11562984710xri6eg65kn.png) fixed center no-repeat;
    opacity: 0.3;
}
*/
.stars {
  background: #000000 url("https://image.ibb.co/mjnygo/stars.png") no-repeat
    fixed center;
}

.twinkle {
  z-index: 1;
  background: transparent url("https://image.ibb.co/ir1DE8/twinkling.png")
    repeat fixed center;
  animation: twinkling 300s linear infinite;
}

@keyframes twinkling {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.tabs {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tabs h1:hover {
  cursor: pointer;
  border-bottom: solid;
}

.tabs h1:nth-child(1) {
  opacity: 0;
  animation: popUp 1s forwards 5s;
}

.tabs h1:nth-child(2) {
  opacity: 0;
  animation: popUp 1s forwards 5.2s;
}

.tabs h1:nth-child(3) {
  opacity: 0;
  animation: popUp 1s forwards 5.4s;
}

.tabs h1:nth-child(4) {
  opacity: 0;
  animation: popUp 1s forwards 5.6s;
}

@keyframes popUp {
  0% {
    opacity: 1;
  }
  50% {
    transform: translateY(-7px) scale(1.01);
  }
  100% {
    opacity: 1;
  }
}

.shootingStar {
  z-index: 2;
  background: white;
  position: absolute;
  top: 40%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgb(255, 255, 255, 0.1),
    0 0 0 8px rgb(255, 255, 255, 0.1), 0 0 20px rgb(255, 255, 255, 0.1);
  animation: fall 10s forwards infinite;
}

.shootingStar::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes fall {
  from {
    transform: rotate(315deg) translateX(2000px);
  }
  to {
    transform: rotate(315deg) translateX(-5000px);
  }
}

#name {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 500px;
  animation: fill 1.6s ease forwards 4s;
}

#name path:nth-child(1) {
  stroke-dasharray: 130px;
  stroke-dashoffset: 130px;
  animation: appear 1.5s linear forwards;
}

#name path:nth-child(2) {
  stroke-dasharray: 120px;
  stroke-dashoffset: 120px;
  animation: appear 1.5s linear forwards 0.2s;
}

#name path:nth-child(3) {
  stroke-dasharray: 60px;
  stroke-dashoffset: 60px;
  animation: appear 1.5s linear forwards 0.4s;
}

#name path:nth-child(4) {
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  animation: appear 1.5s linear forwards 0.6s;
}

#name path:nth-child(5) {
  stroke-dasharray: 99px;
  stroke-dashoffset: 99px;
  animation: appear 1.5s linear forwards 0.8s;
}

#name path:nth-child(6) {
  stroke-dasharray: 161px;
  stroke-dashoffset: 161px;
  animation: appear 1.5s linear forwards 1s;
}

#name path:nth-child(7) {
  stroke-dasharray: 117px;
  stroke-dashoffset: 117px;
  animation: appear 1.5s linear forwards 1.2s;
}

#name path:nth-child(8) {
  stroke-dasharray: 60px;
  stroke-dashoffset: 60px;
  animation: appear 1.5s linear forwards 1.4s;
}

#name path:nth-child(9) {
  stroke-dasharray: 72px;
  stroke-dashoffset: 72px;
  animation: appear 1.5s linear forwards 1.6s;
}

#name path:nth-child(10) {
  stroke-dasharray: 117px;
  stroke-dashoffset: 117px;
  animation: appear 1.5s linear forwards 1.8s;
}

#name path:nth-child(11) {
  stroke-dasharray: 58px;
  stroke-dashoffset: 58px;
  animation: appear 1.5s linear forwards 2s;
}

#name path:nth-child(12) {
  stroke-dasharray: 58px;
  stroke-dashoffset: 58px;
  animation: appear 1.5s linear forwards 2.2s;
}

@keyframes appear {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  to {
    fill: white;
    stroke-width: 0;
  }
}
