
.iconsContainer{
    height: 100px;
    width: 100px;
    align-items: center;
    position: relative;
    margin: 15px 0px 15px 0px;
    background-color: #4d1a1a;
    border-radius: 9%;
    margin: 0 10px 0 10px;
}

.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    color: #886767;
}

.iconsContainer:hover{
    transform:scale(1.1);
}