.skills{
    position: relative;
    background-color: #BD8990;
    height: 100%;
    width: 100%;
}

.skills::before{
    display: inline-block;
    position: absolute;
    top: -50px;
    left: 0;
    content: '';
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #BD8990, transparent);
    z-index: 10;
}