.skills{
    position: relative;
    background-color: #440907;
    height: 35%;
    width: 100%;
}

.skills::before{
    content: '';
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #440907, transparent);
    z-index: 10;
}